/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --bg-color1: #012340;
    --bg-color2: #E4EEF2;
    --contrast-color: #F29F05;
}
body {
    background-color: #012340;
}
h2 {
    font-size: 36px;
    font-weight: bolder;
    color: var(--bg-color2);
}
h3 {
    font-size: 24px;
}
button {
    font-weight: bold;
    outline: none;
    border: none;
    padding: 2px 20px;
    color: var(--bg-color1);
    background-color: var(--bg-color2);
    border-radius: 20px;
    cursor: pointer;
}
.logo {
    text-align: center;
    background-color: var(--bg-color1);
    color: var(--bg-color2);
    font-size: 20px;
    font-weight: bolder;
    width: 140px;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
}
.set-padding {
    padding: 20px 70px;
}

.top-header {
    width: 100%;
    height: 40px;
    background-color: var(--bg-color1);
    color: var(--bg-color2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 70px;
}
.top-header button {
    padding: 2px 20px;
    font-weight: bold;
    border-radius: 10px;
}
.bottom-header {
    box-shadow: 4px 8px 11px 0px #706b6b30;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: var(--bg-color2);
    padding: 0 140px 0 70px;
    z-index: 99;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    padding-bottom: 2px;
    
 
}
nav li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 12px;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    position: relative;
   
    
}
nav li a {
    text-decoration: none;
    color: var(--bg-color1);
    padding-bottom: 2px;
    transition: all ease 1s;
}
nav li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--bg-color1);
    position: absolute;
    left: 12px;
    top: 38px;
    transition: all ease 0.3s;
}
nav li a.active::after,  nav li a:hover::after {
    content: "";
    width: calc(100% - 24px);
    height: 3px;
    background-color: var(--bg-color1);
    position: absolute;
    left: 12px;
    top: 38px;

}
 
#widget-bar {
    background-color: var(--bg-color2);
    width: 870px;
    margin: -5px auto;
    height: 10px;
    border-radius: 10px;
}
#widget-robot {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
#widget-robot img {
    position: absolute;
    top: -130px;
    margin: 0 auto;
    max-width: 300px;
}
   


/* Home Page */


.main-banner {
    width: 100%;
    height: 450px;
    background-position: center;
    color: white;
    background-image: url(images/Sem\ Título-1.png);
    background-size: cover;
    padding-bottom: 40px;
}
.banner-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    height: 100%;
}
p {
    font-size: 20px;
    padding-bottom: 16px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.buttons button {
    width: 49%;
    transition: all ease 0.2s;
}
.buttons button:nth-child(1) {
    background-color: var(--contrast-color);
    color: var(--bg-color2);
}
#sign-section {
    margin-bottom: 80px;
}
#sing-text {
    margin: 120px auto 60px auto;
    text-align: center;
    width: 30%;
}
#sign-options {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 800px;
    margin: auto;
}
#sign-options .sign {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color2);
    width: 32%;
    border-radius: 50px;
    transition: all ease 0.3s;
    background-image: linear-gradient(359deg, var(--bg-color2) 79%, var(--bg-color1));
}
#sign-options .sign:hover {
    transform: scale(1.03);
}
.sign-img img {
    width: 100%;
    transform: scale(1.15);
    margin-top: -13px;
    cursor: pointer;
}

.sonic img {
    margin-top: -17px;
}
.mario img {
    margin-top: -17px;
}

.sign-info {
    text-align: center;
}
.sign-info h3 {
    color: var(--bg-color1);
    margin: 20px 0;
    text-align: center;

}
.sign-info li{
    display: flex;
    list-style: none;
    line-height: 40px;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    cursor: pointer;
    padding: 0 8px;
}
.sign-info li i {
    padding: 0 10px;
}
.sign-info button {
    background-color: var(--contrast-color);
    color: var(--bg-color1);
    margin-top: 40px;
    width: 80%;
    height: 40px;
    box-shadow: 2px 2px 2px rgba(78, 78, 78, 0.425);
}

#promo-banner {
    position: relative;
    background-color: #F29F05;
    width: 100%;
    display: flex;
    box-shadow: 4px 8px 11px 0px #706b6b30;
}
.banner-img {
    width: 50%;
}
.banner-img img {
    width: 100%;
    height: 100%;
}

#index-page #products  {
    padding-top: 50px;
}
#index-page #products .products-title {
    color: var(--bg-color1);
}
#index-page #products {
    background-color: var(--bg-color2);
}
  



/* produtos */
#products-page {
    background-color: var(--bg-color2);
}
.products-title {
    text-align: center;
}
.games {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
#products-page  #main h2 {
    color: var(--bg-color1);
}

.game {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 30px 20px 0px 0px;
  cursor: pointer;
  transition: all ease .3s;
  padding: 20px ;
}
.game:hover {
    transform: scale(1.1);
    background-color: #cbd2d48a;
    border-radius: 20px;
}
.game img {
    object-fit: cover;
    margin: auto;
    width: 200px;
    height: 250px;
    margin-bottom: 4px;
}
.game .version {
    margin-bottom: 4px;
}
.game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.game-info a {
    text-decoration: none;
    border: 1px solid var(--bg-color1);
    border-radius: 50%;
    padding: 10px;
    color: #012340;
    transition: all ease .3S;
}
.game-info a:hover  {
    background-color: #012340;
    color: var(--bg-color2);
}
.game h3 {
    font-size: 18px;
}
.game-price {
    font-weight: 600;
}
.descount {
    width: 60px;
    height: 30px;
    background-color:  var(--bg-color1);
    text-align: center;
    color: var(--bg-color2);
}

.product-model {
    display: none;
}